<!DOCTYPE html>
<html>

<head>

    <title>Students</title>

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body class="bg-light">

<div class="container mt-4">

    <div class="d-flex justify-content-between">

        <h2>🎓 Students Records</h2>

        <div>

            <a href="/" class="btn btn-secondary">
                Dashboard
            </a>

            {% if role == "Admin" %}

            <a href="/add-student" class="btn btn-success">
                Add Student
            </a>

            {% endif %}

        </div>

    </div>

    <hr>

    <table class="table table-bordered table-hover bg-white">

        <thead class="table-dark">

        <tr>

            <th>Sr No</th>
            <th>Name</th>
            <th>Email</th>
            <th>Branch</th>
            <th>CGPA</th>
            <th>Internship</th>
            <th>PPO</th>
            <th>Status</th>
            <th>Company</th>
            <th>Package</th>
            <th>Actions</th>

        </tr>

        </thead>

        <tbody>

        {% for student in students %}

        <tr>

            <td>{{ loop.index }}</td>
            <td>{{ student.name }}</td>
            <td>{{ student.email }}</td>
            <td>{{ student.branch }}</td>
            <td>{{ student.cgpa }}</td>
            <td>{{ student.internship }}</td>
            <td>{{ student.ppo }}</td>
            <td>{{ student.placement_status }}</td>
            <td>{{ student.company_name }}</td>
            <td>{{ student.package }}</td>

            <td>

                {% if role == "Admin" or role == "Trainer" %}

                <a
                    href="/edit-student/{{ student.id }}"
                    class="btn btn-warning btn-sm">

                    Edit

                </a>

                {% endif %}

                {% if role == "Admin" %}

                <a
                    href="/delete-student/{{ student.id }}"
                    onclick="return confirm('Delete this record?')"
                    class="btn btn-danger btn-sm">

                    Delete

                </a>

                {% endif %}

            </td>

        </tr>

        {% endfor %}

        </tbody>

    </table>

</div>

</body>
</html>
